# Local
.DS_Store
*.local
*.log*
.env

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

*storybook.log
storybook-static
scripts/
merge-patient-data.cjs
src/data/
# Local Netlify folder
.netlify
